{
  "singleQuote": true,
  "endOfLine": "auto",
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    }
  ]
}
